<!DOCTYPE html>
<html lang="en">

{{>headerMeta}}
    <title> Chat Room </title>

<body>
    {{>header}}
    <section class="section-header">
        <h1> Chat Room Template </h1>
        <p> Chat Room Title : {{chatRoom.chatRoomTitle}} </p>
        <p> Chat Room : {{chatRoomNumber}} </p>
        Welcome {{ModelUser.userFirstName}} {{ModelUser.userLastName}}
        {{!-- {{sessionData.userFirstName}} --}}
    </section>

    <div class="chat-wrapper">
        <div class="chat-header">

        </div>

        <ul class="chat-messages" id="chat-messages-box">


        </ul>

        <form class="chat-input" id="chat-input-form">
            <input type="text" id="inputMessage">
            <button type="submit">Send</button>
            
        </form>

    </div>

   
     <script>
    // Connect to the server using socket.io
    const socket = io();

    socket.on('chatMessage', function(messageData){
        console.log(messageData)
    })

    const inputMessageForm = document.getElementById("chat-input-form");
    const inputMessageField = document.getElementById("inputMessage");
    const messages = document.getElementById("chat-messages-box");

    function addMessages(messageData){
        const li = document.createElement('li');
        li.textContent = messageData.message;
        messages.appendChild(li)
    }

    inputMessageForm.addEventListener('submit', function(e){
        e.preventDefault();
        if(inputMessageField.value){
            socket.emit("chatMessage", inputMessageField.value);
            inputMessageField.value = '';
        }
    })

    socket.on("chatMessage", function(messageData){
        addMessages(message)
    })

    </script>
</body>

</html>