<!DOCTYPE html>
<html lang="en">

{{>headerMeta}}
<title> Chat Room </title>

<body>
    {{>header}}
    <section class="section-header">
        <h1> Chat Room Template </h1>
        <p> Chat Room Title : {{chatRoom.chatRoomTitle}} </p>
        <p> Chat Room : {{chatRoomNumber}} </p>
        Welcome {{ModelUser.userFirstName}} {{ModelUser.userLastName}}
        {{!-- {{sessionData.userFirstName}} --}}
    </section>

    <div class="chat-wrapper">
        <div class="chat-header">

        </div>

        <ul class="chat-messages" id="chat-messages-box">


        </ul>

        <form class="chat-input" id="chat-input-form">
            <input type="text" id="inputMessage">
            <button type="submit">Send</button>

        </form>

    </div>


   <script>
        const socket = io();

        // Function to add messages to the chat UI
        function addMessages(messageData) {
            const messages = document.getElementById("chat-messages-box");
            const li = document.createElement('li');
            li.textContent = `${messageData.userFirstName} ${messageData.userLastName}: ${messageData.message}, Time : ${messageData.timestamp}`;
            messages.appendChild(li);
        }

        // Handle form submission to send chat message
        document.getElementById("chat-input-form").addEventListener('submit', function (e) {
            e.preventDefault();
            const inputMessageField = document.getElementById("inputMessage");
            const messageText = inputMessageField.value.trim();

            if (messageText) {
                const messageData = {
                    userFirstName: `{{sessionData.userFirstName}}`, // Replace with server-side value or handle via templating
                    userLastName: `{{sessionData.userLastName}}`,   // Replace with server-side value or handle via templating
                    message: messageText,
                    timestamp: new Date().toISOString()
                };

                // Emit chatMessage event to the server with messageData object
                socket.emit("chatMessage", messageData);
                inputMessageField.value = '';
            }
        });

        // Listen for incoming chat messages from the server
        socket.on("chatMessage", function (messageData) {
            addMessages(messageData);
        });
    </script>
</body>

</html>